Repository lacoseismic/nshmp-haz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Project, Markdown Lint, Unit Tests

Build Project:
  image: ${DEVOPS_REGISTRY}usgs/amazoncorretto:11
  stage: build
  tags:
  - development
  needs:
  - Init
  script:
  - ./gradlew assemble

Markdown Lint:
  image: ${DEVOPS_REGISTRY}usgs/amazoncorretto:11
  stage: build
  tags:
  - development
  needs:
  - Init
  script:
  - ./gradlew markdownlint;

Unit Tests:
  image: ${DEVOPS_REGISTRY}usgs/amazoncorretto:11
  stage: build
  tags:
  - development
  artifacts:
    paths:
    - ${JACOCO_HTML_DIR}
    reports:
      junit: ${JUNIT_FILES}
  coverage: /Total.*?([0-9]{1,3})%/
  needs:
  - Init
  script:
  - ./gradlew check
  - cat ${JACOCO_HTML_DIR}/index.html

migrated disagg services to micronaut
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
Due: Unit Tests

nested response classes
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/Metadata.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Unit Tests

formatting and docs
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
Due: Unit Tests

spotless formatting
  settings.gradle
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Build Project, Unit Tests

consolidated disagg cli apps; json out only
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
Due: Unit Tests

batch logging update
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
Due: Unit Tests

spotless edits
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
Due: Unit Tests

data type arguments
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
Due: Unit Tests

increment lib
  gradle.properties
Due: Build Project, Unit Tests

updates for lib
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
Due: Unit Tests

spotless cleanup
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
Due: Unit Tests

deleted stale test class
  src/test/java/gov/usgs/earthquake/nshmp/programs/HazardCurveTest.java
Due: Unit Tests

cleaned up TODOs
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/site/NshmpSite.java
  src/main/java/gov/usgs/earthquake/nshmp/site/NshmpSiteFiles.java
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Unit Tests

spotless edits
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Unit Tests

doc and comment cleanup
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
  src/main/java/gov/usgs/earthquake/nshmp/site/CybershakeSite.java
  src/main/java/gov/usgs/earthquake/nshmp/site/NshmpSiteFiles.java
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/Metadata.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
Due: Unit Tests

removed stale python scripts
  etc/python/README.md
  etc/python/gmm-inputs.csv
  etc/python/gmmBatchExample.py
  etc/python/gmmExample.py
Due: Markdown Lint

doc edits
  etc/examples/README.md
  etc/matlab/README.md
Due: Markdown Lint

removed link; most users will read docs on gitlab
  docs/README.md
Due: Markdown Lint

updated links in examples
  etc/examples/1-hazard-curve/README.md
  etc/examples/2-custom-config/README.md
  etc/examples/3-sites-file/README.md
  etc/examples/5-complex-model/README.md
  etc/examples/6-enhanced-output/README.md
Due: Markdown Lint

readme edits
  etc/examples/2-custom-config/README.md
  etc/examples/3-sites-file/README.md
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
Due: Markdown Lint, Unit Tests

example readme fixes
  etc/examples/3-sites-file/README.md
  etc/examples/4-hazard-map/README.md
  etc/examples/5-complex-model/README.md
  etc/examples/6-enhanced-output/README.md
  etc/examples/7-disaggregation/README.md
  etc/examples/7-disaggregation/sites.csv
  etc/examples/7-disaggregation/sites.geojson
Due: Markdown Lint

temp remove rate example until fixed
  etc/examples/7-disaggregation/README.md
  etc/examples/8-probabilities/README.md
  etc/examples/8-probabilities/config-map.json
  etc/examples/8-probabilities/config-sites.json
  etc/examples/8-probabilities/map.geojson
  etc/examples/8-probabilities/sites.csv
Due: Markdown Lint

updates to build and run doc
  docs/pages/Building-&-Running.md
Due: Markdown Lint

bathc logging improvements
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
Due: Unit Tests

markdown fix
  docs/pages/Building-&-Running.md
Due: Markdown Lint

quickfix for pipeline markdownlint failures
  .gitlab-ci.yml
Due: none

lingering incorrect URLs
  etc/matlab/gmmBatchExample.m
  etc/matlab/gmmExample.m
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
Due: Unit Tests

site spec doc update
  docs/pages/Site-Specification.md
Due: Markdown Lint

removed default site block from config docs
  docs/pages/Calculation-Configuration.md
Due: Markdown Lint

added filters and vs30s to config docs
  docs/pages/Calculation-Configuration.md
Due: Markdown Lint

new util createSite method for services
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
Due: Unit Tests

spotless edits
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
Due: Unit Tests

Switch to conus as default
  settings.gradle
  src/main/resources/application.yml
Due: Build Project, Unit Tests

Remove unused var
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
Due: Unit Tests

Update paths
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
Due: Unit Tests

Add header
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
Due: Unit Tests

Remove header
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggService.java
Due: Unit Tests

Remove http accepted
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/DisaggController.java
Due: Unit Tests

Path conditions:
  Build Project: any of: src/**, *gradle*
  Markdown Lint: any of: **/*.md
  Unit Tests: any of: src/**/*, *gradle*
