Repository lacoseismic/nshmp-haz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Lambda, Build Project, Markdown Lint, Unit Tests

.gitlab-ci.yml:

# Do not run for merge requests
workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

include:
  - project: 'ghsc/nshmp/nshmp-pipeline-templates'
    ref: 'main'
    file: 'templates/library.yml'

stages:
  - init
  - build

####
# Templates
####

.gradle:
  image: ${DEVOPS_REGISTRY}usgs/java:11-jdk
  stage: build
  tags:
    - development

####
# Stage: init
####

Init:
  extends:
    - .gradle-init

####
# Stage: build
####

Build Image Haz:
  extends:
    - .docker-build
  variables:
    CI_PROJECT_NAME: nshmp-haz

Build Image WS:
  extends:
    - .docker-build
  variables:
    CI_PROJECT_NAME: nshmp-haz-ws
    DOCKERFILE: ws.Dockerfile

Build Lambda:
  artifacts:
    expire_in: 1 yr
    paths:
      - build/libs/nshmp-haz-v2.jar
      - build/libs/nshmp-haz-dependencies.zip
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew assemble
    - ./gradlew libs

Build Project:
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew assemble

Markdown Lint:
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - '**/*.md'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew markdownlint;

Unit Tests:
  artifacts:
    paths:
      - ${JACOCO_HTML_DIR}
    reports:
      junit: ${JUNIT_FILES}
  coverage: '/Total.*?([0-9]{1,3})%/'
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew check
    - cat ${JACOCO_HTML_DIR}/index.html

add Set2-Case5 tests
  etc/peer/models/Set2-Case5a/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set2-Case5a/active-crust/fault-sources/features/fault.geojson
  etc/peer/models/Set2-Case5a/active-crust/fault-sources/mfd-config.json
  etc/peer/models/Set2-Case5a/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set2-Case5a/active-crust/fault-sources/source-tree.json
  etc/peer/models/Set2-Case5a/active-crust/fault-sources/source1/rupture-set.json
  etc/peer/models/Set2-Case5a/active-crust/fault-sources/tree-info.json
  etc/peer/models/Set2-Case5a/active-crust/gmm-config.json
  etc/peer/models/Set2-Case5a/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case5a/calc-config.json
  etc/peer/models/Set2-Case5a/model-info.json
  etc/peer/models/Set2-Case5a/sites.csv
  etc/peer/models/Set2-Case5b/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set2-Case5b/active-crust/fault-sources/features/fault.geojson
  etc/peer/models/Set2-Case5b/active-crust/fault-sources/mfd-config.json
  etc/peer/models/Set2-Case5b/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set2-Case5b/active-crust/fault-sources/source-tree.json
  etc/peer/models/Set2-Case5b/active-crust/fault-sources/source1/rupture-set.json
  etc/peer/models/Set2-Case5b/active-crust/fault-sources/tree-info.json
  etc/peer/models/Set2-Case5b/active-crust/gmm-config.json
  etc/peer/models/Set2-Case5b/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case5b/calc-config.json
  etc/peer/models/Set2-Case5b/model-info.json
  etc/peer/models/Set2-Case5b/sites.csv
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTests.java
Due: none

update exmaples, fix site file extension check
  etc/examples/1-hazard-curve/README.md
  etc/examples/1-hazard-curve/site.csv
  etc/examples/2-custom-config/README.md
  etc/examples/2-custom-config/site.csv
  etc/examples/3-sites-file/README.md
  etc/examples/4-hazard-map/README.md
  etc/examples/5-complex-model/README.md
  etc/examples/5-complex-model/config-sites.json
  etc/examples/6-enhanced-output/README.md
  etc/examples/6-enhanced-output/config.json
  etc/examples/7-deaggregation/README.md
  etc/examples/7-deaggregation/config.json
  etc/examples/8-probabilities/README.md
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
Due: Markdown Lint

cleanup readmes
  etc/examples/4-hazard-map/README.md
  etc/examples/5-complex-model/README.md
  etc/examples/6-enhanced-output/README.md
  etc/examples/8-probabilities/README.md
Due: Markdown Lint

resolve https://code.usgs.gov/ghsc/nshmp/nshmp-haz/-/issues/479#note_179240
  docs/pages/About-the-NSHMP.md
Due: Markdown Lint

fix typo, see https://code.usgs.gov/ghsc/nshmp/nshmp-haz/-/issues/479#note_179248
  docs/pages/Model-Editions.md
Due: Markdown Lint

fix typos, see https://code.usgs.gov/ghsc/nshmp/nshmp-haz/-/issues/479#note_179255
  docs/pages/Source-Types.md
Due: Markdown Lint

add peer test instructions
  etc/peer/docs/Set 1 Instructions Rev8-4.pdf
  etc/peer/docs/Set 2 Part 1 Instructions Rev8-4 .pdf
  etc/peer/docs/Set 3 Instructions Rev 10-18b.pdf
Due: none

minor disagg app edits
  src/main/java/gov/usgs/earthquake/nshmp/DeaggEpsilon.java
Due: none

code.json edits
  code.json
Due: none

updated disclaimer to provisional
  DISCLAIMER.md
Due: Markdown Lint

removed target=_top in javadocs
  src/main/java/gov/usgs/earthquake/nshmp/DeaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggEpsilon.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggIml.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
Due: none

additional info for INCR MFD
  docs/pages/Magnitude-Frequency-Distributions.md
Due: Markdown Lint

improved rupture-set description #482
  docs/pages/Source-Types.md
Due: Markdown Lint

increment lib
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

updated docs for model directory changes
  docs/pages/Model-Structure.md
  src/main/java/gov/usgs/earthquake/nshmp/DeaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggEpsilon.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
Due: Markdown Lint

removed javadoc build task
  build.gradle
  gradle/javadoc.gradle
Due: Build Lambda, Build Project, Unit Tests

removed javadoc ext options
  gradle/ext.gradle
Due: none

Add V/H model by GA 2011 to Ground-Motion-Models.md
  docs/pages/Ground-Motion-Models.md
Due: Markdown Lint

renamed classes deagg to disagg
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
Due: none

comment edit peer test
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTest.java
Due: none

more deagg --> disagg classes, comments, and docs
  docs/pages/Building-&-Running.md
  docs/pages/Functional-PSHA.md
  etc/examples/6-enhanced-output/README.md
  etc/examples/7-disaggregation/README.md
  etc/examples/7-disaggregation/config.json
  etc/examples/7-disaggregation/sites.geojson
  etc/examples/8-probabilities/README.md
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/www/DisaggEpsilonController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/DisaggEpsilonService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
Due: Markdown Lint

removed disagg epsilon service
  src/main/java/gov/usgs/earthquake/nshmp/www/DisaggEpsilonController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/DisaggEpsilonService.java
Due: none

updated disclaimer and code.json
  DISCLAIMER.md
  code.json
Due: Markdown Lint

updated lib; minor refactor for compile error
  gradle.properties
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
Due: Build Lambda, Build Project, Unit Tests

tag edit
  code.json
Due: none

update lib tag
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

update code.json
  code.json
Due: none

lib site updates
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/MetaUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
Due: none

markdown correction
  docs/pages/Model-Structure.md
Due: Markdown Lint

formatting
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
Due: none

site string fix for logging
  src/main/java/gov/usgs/earthquake/nshmp/DisaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
Due: none

Enable access logger
  src/main/resources/application.yml
Due: none

update basin url
  ws.Dockerfile
Due: none

placeholder class for updates to hazard service
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService2.java
Due: none

service call arg formatting
  src/main/java/gov/usgs/earthquake/nshmp/www/HazardController.java
Due: none

spotless edits
  src/main/java/gov/usgs/earthquake/nshmp/www/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService2.java
Due: none
