Repository lacoseismic/nshmp-haz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Lambda, Build Project, Markdown Lint, Unit Tests

.gitlab-ci.yml:

# Do not run for merge requests
workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

include:
  - project: 'ghsc/nshmp/nshmp-pipeline-templates'
    ref: 'main'
    file: 'templates/library.yml'

stages:
  - init
  - build

####
# Templates
####

.gradle:
  image: ${DEVOPS_REGISTRY}usgs/java:11-jdk
  stage: build
  tags:
    - development

####
# Stage: init
####

Init:
  extends:
    - .gradle-init

####
# Stage: build
####

Build Image Haz:
  extends:
    - .docker-build
  variables:
    CI_PROJECT_NAME: nshmp-haz

Build Image WS:
  extends:
    - .docker-build
  variables:
    CI_PROJECT_NAME: nshmp-haz-ws
    DOCKERFILE: ws.Dockerfile

Build Lambda:
  artifacts:
    expire_in: 1 yr
    paths:
      - build/libs/nshmp-haz-v2.jar
      - build/libs/nshmp-haz-dependencies.zip
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew assemble
    - ./gradlew libs

Build Project:
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew assemble

Markdown Lint:
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - '**/*.md'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew markdownlint;

Unit Tests:
  artifacts:
    paths:
      - ${JACOCO_HTML_DIR}
    reports:
      junit: ${JUNIT_FILES}
  coverage: '/Total.*?([0-9]{1,3})%/'
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew check
    - cat ${JACOCO_HTML_DIR}/index.html

increment lib
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

Switch to amazon corretto
  .gitlab-ci.yml
  Dockerfile
  ws.Dockerfile
Due: none

Switch to build tag
  .gitlab-ci.yml
Due: none

Switch tags
  .gitlab-ci.yml
Due: none

cleaning
  src/test/java/gov/usgs/earthquake/nshmp/model/NshmTestsLarge.java
Due: none

adding disabled end-to-end conus tests
  build.gradle
  src/test/java/gov/usgs/earthquake/nshmp/model/NshmTestsLarge.java
  src/test/java/gov/usgs/earthquake/nshmp/model/NshmTestsSmall.java
  src/test/resources/data/fault-wus-model/Fault/Wasatch.xml
  src/test/resources/data/fault-wus-model/Fault/gmm.xml
  src/test/resources/data/fault-wus-model/config.json
  src/test/resources/data/fault-wus-result.txt
  src/test/resources/e2e/nshm-conus-2018-BOSTON_MA.json
  src/test/resources/e2e/nshm-conus-2018-CHICAGO_IL.json
  src/test/resources/e2e/nshm-conus-2018-LOS_ANGELES_CA.json
  src/test/resources/e2e/nshm-conus-2018-NEW_MADRID_MO.json
  src/test/resources/e2e/nshm-conus-2018-NEW_YORK_NY.json
  src/test/resources/e2e/nshm-conus-2018-RENO_NV.json
  src/test/resources/e2e/nshm-conus-2018-SALT_LAKE_CITY_UT.json
  src/test/resources/e2e/nshm-conus-2018-SAN_FRANCISCO_CA.json
  src/test/resources/e2e/nshm-conus-2018-SEATTLE_WA.json
Due: Build Lambda, Build Project, Unit Tests

doc edit
  docs/pages/Source-Types.md
Due: Markdown Lint

spotless edits
  build.gradle
  gradle/ext.gradle
Due: Build Lambda, Build Project, Unit Tests

dependency updates
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: Build Lambda, Build Project, Unit Tests

spotbugs corrections
  src/test/java/gov/usgs/earthquake/nshmp/model/NshmTestsLarge.java
Due: none

updated gitignore
  .gitignore
Due: none

updated peer test to NGA base models; no epi
  etc/peer/models/Set2-Case2a-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case2a/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case2b-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case2b/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case2c-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case2c/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case2d-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case2d/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3a-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3a/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3b-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3b/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3c-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3c/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3d-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case3d/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case4a-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case4a/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case4b-fast/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case4b/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case5a/active-crust/gmm-tree.json
  etc/peer/models/Set2-Case5b/active-crust/gmm-tree.json
Due: none

Add templates
  .gitlab-ci.yml
Due: none

servlet cleaning
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServicesUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
Due: none

spotless formatting
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServicesUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
Due: none

Add gradle files
  gradle/git-hooks.gradle
  gradle/node.gradle
  gradle/spotbugs-filter.xml
  gradle/spotbugs.gradle
  gradle/spotless.gradle
  src/main/resources/eclipse.importorder
  src/main/resources/nshmp.eclipse-format.xml
Due: none

Update gradle build
  build.gradle
  gradle.properties
  gradle/dependencies.gradle
  settings.gradle
Due: Build Lambda, Build Project, Unit Tests

Apply spotless
  build.gradle
Due: Build Lambda, Build Project, Unit Tests

increment nshmp deps
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

shadowjar update
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

updated to micronaut 3
  build.gradle
  gradle.properties
  gradle/dependencies.gradle
  src/main/java/gov/usgs/earthquake/nshmp/www/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/RateController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceLogicTreesController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SwaggerController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService2.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Build Lambda, Build Project, Unit Tests

import formatting
  src/main/java/gov/usgs/earthquake/nshmp/www/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/RateController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceLogicTreesController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SwaggerController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService2.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: none

basin service config removed
  src/main/resources/application.yml
  ws.Dockerfile
Due: none

comment out docker images
  .gitlab-ci.yml
Due: none

update docker
  .gitlab-ci.yml
  gradle/git-hooks.gradle
Due: none

update
  gradle/git-hooks.gradle
Due: none

new matlab script and edits
  etc/matlab/README.md
  etc/matlab/response_spectra.m
Due: Markdown Lint

Revised label for horizontal axis in plot to be for period instead of distance
  etc/matlab/response_spectra.m
Due: none

updated ws-utils
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

updated lib and ws-utils and refactored
  gradle.properties
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/Metadata.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService2.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServicesUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Build Lambda, Build Project, Unit Tests

increment lib; disagg epsilon edits
  gradle.properties
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
Due: Build Lambda, Build Project, Unit Tests

using new disagg export moethod
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
Due: none

spotless cleanup
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService2.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServicesUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: none

disagg epsilon output options from config
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
Due: none

added new page with images from ppt
  docs/README.md
  docs/pages/Implementation-Details.md
  docs/pages/images/tree-branches-combined.png
  docs/pages/images/tree-example.png
  docs/pages/images/tree-types.png
Due: Markdown Lint

merged old stash for running local lib and conus
  gradle/dependencies.gradle
  settings.gradle
  src/main/java/gov/usgs/earthquake/nshmp/DisaggEpsilon.java
  src/main/resources/application.yml
Due: Build Lambda, Build Project, Unit Tests

moved hazard to own package; simplified request-response
  src/main/java/gov/usgs/earthquake/nshmp/www/ServicesUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SwaggerController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/MaxDirection.java
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/Metadata.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: none

refactor of hazard services
  src/main/java/gov/usgs/earthquake/nshmp/www/ServicesUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SwaggerController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/hazard/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/MetaUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: none
