Repository lacoseismic/nshmp-haz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Image, Build Project, Build Lambda, Unit Tests, Trigger AWS nshmp-haz

Image:
  script:
  - "docker build \\\n  --build-arg FROM_IMAGE=${DEVOPS_REGISTRY}usgs/node:12 \\\n  --file \".gitlab/Dockerfile\" \\\n  --pull \\\n  --tag ${IMAGE_NAME} \\\n  .\n"
  - docker push ${IMAGE_NAME}
  stage: image
  tags:
  - build

Build Project:
  stage: build
  image: ${IMAGE_NAME}
  script:
  - ./gradlew assemble

Build Lambda:
  stage: build
  image: ${IMAGE_NAME}
  artifacts:
    expire_in: 1 yr
    paths:
    - build/libs/nshmp-haz-v2.jar
    - build/libs/nshmp-haz-dependencies.zip
  script:
  - ./gradlew assemble
  - ./gradlew libs

Unit Tests:
  stage: build
  image: ${IMAGE_NAME}
  artifacts:
    paths:
    - ${JACOCO_HTML_DIR}
    reports:
      junit: ${JUNIT_FILES}
  coverage: /Total.*?([0-9]{1,3})%/
  script:
  - ./gradlew check
  - cat ${JACOCO_HTML_DIR}/index.html

Trigger AWS nshmp-haz:
  script:
  - apk add curl
  - "curl -X POST \\\n    -F token=${NSHMP_DEPLOY_TRIGGER_TOKEN} \\\n    -F ref=master \\\n    https://code.chs.usgs.gov/api/v4/projects/5047/trigger/pipeline\n"
  stage: publish

add init stage and tasks
  .gitlab-ci.yml
  .gitlab/Dockerfile
Due: Image

update to nshmp-lib 0.2.11
  build.gradle
  gradle.properties
Due: none

fix trigger rules
  .gitlab-ci.yml
Due: none

ignore gradle dir
  .markdownlintignore
Due: none

add spotless check
  .gitlab-ci.yml
Due: none

nshmp-lib 0.3.0
  gradle.properties
Due: none

jvm memory 2g min 8g max
  build.gradle
Due: none

spotless change
  build.gradle
Due: none

update to nshmp-ws-utils
  build.gradle
  gradle.properties
  gradle/dependencies.gradle
  src/main/java/gov/usgs/earthquake/nshmp/aws/HazardResultSliceLambda.java
  src/main/java/gov/usgs/earthquake/nshmp/aws/HazardResultsMetadataLambda.java
  src/main/java/gov/usgs/earthquake/nshmp/aws/HazardResultsSlicerLambda.java
  src/main/java/gov/usgs/earthquake/nshmp/www/DeaggEpsilonController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/HazardController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/RateController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/MetaUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/meta/Metadata.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/DeaggEpsilonService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServicesUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Build Project, Build Lambda, Unit Tests, Trigger AWS nshmp-haz

add trigger
  .gitlab-ci.yml
Due: none

add Xms and Xmx
  ws.Dockerfile
Due: none

update to Boolean
  src/main/java/gov/usgs/earthquake/nshmp/www/HazardController.java
Due: Build Project, Build Lambda, Unit Tests

cleanup
  src/main/java/gov/usgs/earthquake/nshmp/www/HazardController.java
Due: Build Project, Build Lambda, Unit Tests

update pipeline
  .gitlab-ci.yml
Due: none

update
  .gitlab-ci.yml
Due: none

fix pipeline rile
  .gitlab-ci.yml
Due: none

update trigger pipeline
  .gitlab-ci.yml
Due: none

add singleton to services
  src/main/java/gov/usgs/earthquake/nshmp/www/services/DeaggEpsilonService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/RateService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceServices.java
Due: Build Project, Build Lambda, Unit Tests

updated lib and 2018 nshm
  gradle.properties
  settings.gradle
Due: none

updated ws utils
  gradle.properties
Due: none

sync conus region updates from nshmp-haz
  etc/nshm/map-conus.geojson
Due: none

update and standardize maps. sync with nshmp-haz
  etc/nshm/map-alaska.geojson
  etc/nshm/map-ceus.geojson
  etc/nshm/map-hawaii.geojson
  etc/nshm/map-wus.geojson
Due: none

update nshmp-lib version to 0.4.0 to get fix for anti-clockwise extents. fixed coordinates, and names, in NshmpPolygon. updated resolutions in map files to match what is run.
  etc/nshm/map-conus.geojson
  etc/nshm/map-hawaii.geojson
  etc/nshm/map-la-basin.geojson
  etc/nshm/map-puget.geojson
  etc/nshm/map-sf-bay.geojson
  etc/nshm/map-wasatch.geojson
  gradle.properties
  src/main/java/gov/usgs/earthquake/nshmp/site/NshmpPolygon.java
  src/main/java/gov/usgs/earthquake/nshmp/site/NshmpSite.java
  src/main/java/gov/usgs/earthquake/nshmp/site/NshmpSiteFiles.java
Due: Build Project, Build Lambda, Unit Tests

fix conus grid spacing
  src/main/java/gov/usgs/earthquake/nshmp/site/NshmpSiteFiles.java
Due: Build Project, Build Lambda, Unit Tests

use most recent lib version
  gradle.properties
Due: none

increment to lib 0.5.0
  gradle.properties
Due: none

updated lib method and class names
  src/main/java/gov/usgs/earthquake/nshmp/DeaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggEpsilon.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggIml.java
  src/main/java/gov/usgs/earthquake/nshmp/Hazard2018.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/DeaggEpsilonService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
Due: Build Project, Build Lambda, Unit Tests

spotless edits
  src/main/java/gov/usgs/earthquake/nshmp/www/services/DeaggEpsilonService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/HazardService.java
Due: Build Project, Build Lambda, Unit Tests

update swagger
  src/main/resources/swagger/favicon.ico
  src/main/resources/swagger/index.css
  src/main/resources/swagger/index.html
  src/main/resources/swagger/index.js
  src/main/resources/swagger/usgs-logo.svg
Due: none

add swagger service
  src/main/java/gov/usgs/earthquake/nshmp/www/SwaggerController.java
Due: Build Project, Build Lambda, Unit Tests

Path conditions:
  Image: any of: .gitlab/Dockerfile
  Build Project: any of: **/*.java
  Build Lambda: any of: **/*.java
  Unit Tests: any of: **/*.java
  Trigger AWS nshmp-haz: any of: src/main/java/gov/usgs/earthquake/nshmp/aws/**/*.java, gradle/dependencies.gradle
