Repository lacoseismic/nshmp-haz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Lambda, Build Project, Markdown Lint, Unit Tests

Build Lambda:
  image: ${DEVOPS_REGISTRY}usgs/java:11-jdk
  stage: build
  tags:
  - development
  artifacts:
    expire_in: 1 yr
    paths:
    - build/libs/nshmp-haz-v2.jar
    - build/libs/nshmp-haz-dependencies.zip
  needs:
  - Init
  script:
  - ./gradlew assemble
  - ./gradlew libs

Build Project:
  image: ${DEVOPS_REGISTRY}usgs/java:11-jdk
  stage: build
  tags:
  - development
  needs:
  - Init
  script:
  - ./gradlew assemble

Markdown Lint:
  image: ${DEVOPS_REGISTRY}usgs/java:11-jdk
  stage: build
  tags:
  - development
  needs:
  - Init
  script:
  - ./gradlew markdownlint;

Unit Tests:
  image: ${DEVOPS_REGISTRY}usgs/java:11-jdk
  stage: build
  tags:
  - development
  artifacts:
    paths:
    - ${JACOCO_HTML_DIR}
    reports:
      junit: ${JUNIT_FILES}
  coverage: /Total.*?([0-9]{1,3})%/
  needs:
  - Init
  script:
  - ./gradlew check
  - cat ${JACOCO_HTML_DIR}/index.html

simplify
  Dockerfile
Due: none

cleanup
  Dockerfile
Due: none

first stab converting set1-case1
  etc/peer/models/Set1-Case1/Fault/gmm.xml
  etc/peer/models/Set1-Case1/Fault/source.xml
  etc/peer/models/Set1-Case1/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set1-Case1/active-crust/fault-sources/mfd-config.json
  etc/peer/models/Set1-Case1/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set1-Case1/active-crust/fault-sources/rate-tree.json
  etc/peer/models/Set1-Case1/active-crust/fault-sources/set1-case1/set1-case1.geojson
  etc/peer/models/Set1-Case1/active-crust/gmm-config.json
  etc/peer/models/Set1-Case1/active-crust/gmm-tree.json
  etc/peer/models/Set1-Case1/config.json
  etc/peer/models/Set1-Case1/model-info.json
  etc/peer/models/Set1-Case1/sites.csv
Due: none

example 1: get peer set1-case1 to run, set up as single-branch logic tree
  etc/peer/models/Set1-Case1/active-crust/fault-sources/features/set1-case1.geojson
  etc/peer/models/Set1-Case1/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set1-Case1/active-crust/fault-sources/rate-tree.json
  etc/peer/models/Set1-Case1/active-crust/fault-sources/set1-case1/rupture-set.json
  etc/peer/models/Set1-Case1/active-crust/fault-sources/source-tree.json
  etc/peer/models/Set1-Case1/calc-config.json
  etc/peer/models/Set1-Case1/~Fault/gmm.xml
  etc/peer/models/Set1-Case1/~Fault/source.xml
  etc/peer/results/Set1-Case1.csv
Due: none

use default Imls, calculate Annual Rate, and remove unused property from geojson
  etc/peer/models/Set1-Case1/active-crust/fault-sources/features/set1-case1.geojson
  etc/peer/models/Set1-Case1/calc-config.json
  etc/peer/models/Set1-Case1/~Fault/gmm.xml
  etc/peer/models/Set1-Case1/~Fault/source.xml
Due: none

doc edits
  docs/pages/Model-Files.md
  docs/pages/Source-Types.md
Due: Markdown Lint

update build to use mavenCentral
  gradle/repositories.gradle
Due: none

updated lib tag
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

increment lib to 0.7 and required refactoring
  gradle.properties
  src/main/java/gov/usgs/earthquake/nshmp/DeaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggEpsilon.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggIml.java
  src/main/java/gov/usgs/earthquake/nshmp/Hazard2018.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
Due: Build Lambda, Build Project, Unit Tests

update nshmp-lib version for active-crust fault tests
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

doc edit and lib increment
  docs/pages/Model-Files.md
  gradle.properties
Due: Build Lambda, Build Project, Markdown Lint, Unit Tests

increment lib
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

updated HazardCalc; removed Hazard2018
  src/main/java/gov/usgs/earthquake/nshmp/Hazard2018.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
Due: none

Add new source tree service
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceTreesController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceTreesService.java
Due: none

Change to hawaii
  settings.gradle
Due: Build Lambda, Build Project, Unit Tests

Update to hawaii path
  src/main/resources/application.yml
Due: none

Rename, add service methods
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceLogicTreesController.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceTreesController.java
Due: none

Add service methods
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceTreesService.java
Due: none

Cleanup
  src/main/java/gov/usgs/earthquake/nshmp/www/services/ServletUtil.java
Due: none

add comments
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceLogicTreesController.java
Due: none

Witch to Models.trees
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
Due: none

update to Models.tree
  src/main/java/gov/usgs/earthquake/nshmp/www/services/SourceLogicTreesService.java
Due: none

fix pipeline trigger
  .gitlab-ci.yml
Due: none

added s1c2
  .gitignore
  etc/peer/models/Set1-Case2/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set1-Case2/active-crust/fault-sources/features/set1-case2.geojson
  etc/peer/models/Set1-Case2/active-crust/fault-sources/mfd-config.json
  etc/peer/models/Set1-Case2/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set1-Case2/active-crust/fault-sources/set1-case2/rupture-set.json
  etc/peer/models/Set1-Case2/active-crust/fault-sources/source-tree.json
  etc/peer/models/Set1-Case2/active-crust/gmm-config.json
  etc/peer/models/Set1-Case2/active-crust/gmm-tree.json
  etc/peer/models/Set1-Case2/calc-config.json
  etc/peer/models/Set1-Case2/model-info.json
  etc/peer/models/Set1-Case2/sites.csv
Due: none

added peer test classes
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTest.java
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTestArgumentProviders.java
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTests.java
Due: none

relocated end-to-end placeholder classes
  gradle.properties
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
  src/test/java/gov/usgs/earthquake/nshmp/model/NshmTestsLarge.java
  src/test/java/gov/usgs/earthquake/nshmp/model/NshmTestsSmall.java
Due: Build Lambda, Build Project, Unit Tests

s1c1 update
  etc/peer/models/Set1-Case1/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set1-Case1/active-crust/gmm-config.json
Due: none

s1c2 update
  etc/peer/models/Set1-Case2/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set1-Case2/active-crust/gmm-config.json
Due: none

peer test class edits
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTest.java
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTestArgumentProviders.java
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTests.java
Due: none

peer test class update
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTests.java
Due: none

added updated readme
  etc/peer/README.md
Due: Markdown Lint

added s1c8abc
  etc/peer/models/Set1-Case8a/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set1-Case8a/active-crust/fault-sources/features/set1-case8a.geojson
  etc/peer/models/Set1-Case8a/active-crust/fault-sources/mfd-config.json
  etc/peer/models/Set1-Case8a/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set1-Case8a/active-crust/fault-sources/set1-case8a/rupture-set.json
  etc/peer/models/Set1-Case8a/active-crust/fault-sources/source-tree.json
  etc/peer/models/Set1-Case8a/active-crust/fault-sources/tree-info.json
  etc/peer/models/Set1-Case8a/active-crust/gmm-config.json
  etc/peer/models/Set1-Case8a/active-crust/gmm-tree.json
  etc/peer/models/Set1-Case8a/calc-config.json
  etc/peer/models/Set1-Case8a/model-info.json
  etc/peer/models/Set1-Case8a/sites.csv
  etc/peer/models/Set1-Case8b/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set1-Case8b/active-crust/fault-sources/features/set1-case8b.geojson
  etc/peer/models/Set1-Case8b/active-crust/fault-sources/mfd-config.json
  etc/peer/models/Set1-Case8b/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set1-Case8b/active-crust/fault-sources/set1-case8b/rupture-set.json
  etc/peer/models/Set1-Case8b/active-crust/fault-sources/source-tree.json
  etc/peer/models/Set1-Case8b/active-crust/fault-sources/tree-info.json
  etc/peer/models/Set1-Case8b/active-crust/gmm-config.json
  etc/peer/models/Set1-Case8b/active-crust/gmm-tree.json
  etc/peer/models/Set1-Case8b/calc-config.json
  etc/peer/models/Set1-Case8b/model-info.json
  etc/peer/models/Set1-Case8b/sites.csv
  etc/peer/models/Set1-Case8c/active-crust/fault-sources/fault-config.json
  etc/peer/models/Set1-Case8c/active-crust/fault-sources/features/set1-case8c.geojson
  etc/peer/models/Set1-Case8c/active-crust/fault-sources/mfd-config.json
  etc/peer/models/Set1-Case8c/active-crust/fault-sources/mfd-map.json
  etc/peer/models/Set1-Case8c/active-crust/fault-sources/set1-case8c/rupture-set.json
  etc/peer/models/Set1-Case8c/active-crust/fault-sources/source-tree.json
  etc/peer/models/Set1-Case8c/active-crust/fault-sources/tree-info.json
  etc/peer/models/Set1-Case8c/active-crust/gmm-config.json
  etc/peer/models/Set1-Case8c/active-crust/gmm-tree.json
  etc/peer/models/Set1-Case8c/calc-config.json
  etc/peer/models/Set1-Case8c/model-info.json
  etc/peer/models/Set1-Case8c/sites.csv
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTests.java
Due: none

peerTests class support for s1c10c11; marked as disabled
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTest.java
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTestArgumentProviders.java
  src/test/java/gov/usgs/earthquake/nshmp/model/peer/PeerTests.java
Due: none

Path conditions:
  Build Lambda: any of: src/**, *gradle*
  Build Project: any of: src/**, *gradle*
  Markdown Lint: any of: **/*.md
  Unit Tests: any of: src/**, *gradle*
