Repository lacoseismic/nshmp-haz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Lambda, Build Project, Markdown Lint, Unit Tests

.gitlab-ci.yml:

# Do not run for merge requests
workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

include:
  - project: 'ghsc/nshmp/nshmp-pipeline-templates'
    ref: 'main'
    file: 'templates/library.yml'

stages:
  - init
  - build

####
# Templates
####

.gradle:
  image: ${DEVOPS_REGISTRY}usgs/java:11-jdk
  stage: build
  tags:
    - development

####
# Stage: init
####

Init:
  extends:
    - .gradle-init

####
# Stage: build
####

Build Image Haz:
  extends:
    - .docker-build
  variables:
    CI_PROJECT_NAME: nshmp-haz

Build Image WS:
  extends:
    - .docker-build
  variables:
    CI_PROJECT_NAME: nshmp-haz-ws
    DOCKERFILE: ws.Dockerfile

Build Lambda:
  artifacts:
    expire_in: 1 yr
    paths:
      - build/libs/nshmp-haz-v2.jar
      - build/libs/nshmp-haz-dependencies.zip
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew assemble
    - ./gradlew libs

Build Project:
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew assemble

Markdown Lint:
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - '**/*.md'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew markdownlint;

Unit Tests:
  artifacts:
    paths:
      - ${JACOCO_HTML_DIR}
    reports:
      junit: ${JUNIT_FILES}
  coverage: '/Total.*?([0-9]{1,3})%/'
  extends:
    - .gradle
  needs:
    - Init
  rules:
    -
      changes:
        - 'src/**'
        - '*gradle*'
      when: on_success
    -
      allow_failure: true
      when: manual
  script:
    - ./gradlew check
    - cat ${JACOCO_HTML_DIR}/index.html

updating links, building & running related docs, fixing URLs
  docs/README.md
  docs/pages/About-the-NSHMP.md
  docs/pages/Building-&-Running.md
  docs/pages/Calculation-Configuration.md
  docs/pages/Developer-Basics.md
  docs/pages/Ground-Motion-Models.md
  docs/pages/Hazard-Model.md
  docs/pages/Logic-Trees-&-Uncertainty.md
  docs/pages/Magnitude-Frequency-Distributions.md
  docs/pages/Model-Editions.md
  docs/pages/Model-Files.md
  docs/pages/Model-Structure.md
  docs/pages/Rupture-Scaling-Relations.md
  docs/pages/Site-Specification.md
  docs/pages/Source-Types.md
  docs/pages/USGS-Models.md
  etc/nshm/README.md
Due: Markdown Lint

updating content, fixing links
  docs/pages/Building-&-Running.md
  docs/pages/Ground-Motion-Models.md
  docs/pages/Site-Specification.md
Due: Markdown Lint

update swagger
  src/main/resources/swagger/index.js
Due: none

remove context cookie
  src/main/java/gov/usgs/earthquake/nshmp/www/ContextPathCookie.java
Due: none

imporve docker ws
  ws.Dockerfile
Due: none

add trigger to cdk
  .gitlab-ci.yml
Due: none

standardize navigation links. update and clean GMM docs, add java doc links, simplify tables
  docs/pages/Building-&-Running.md
  docs/pages/Calculation-Configuration.md
  docs/pages/Developer-Basics.md
  docs/pages/Ground-Motion-Models.md
  docs/pages/Site-Specification.md
Due: Markdown Lint

add navigation, fix links, add web services pages (referenced in Model-Editions.md)
  docs/README.md
  docs/pages/Calculation-Configuration.md
  docs/pages/Logic-Trees-&-Uncertainty.md
  docs/pages/Model-Editions.md
  docs/pages/NSHMP-Web-Services.md
  docs/pages/Site-Specification.md
  docs/pages/USGS-Models.md
Due: Markdown Lint

add navigation, clean up links
  docs/pages/Ground-Motion-Models.md
  docs/pages/Hazard-Model.md
  docs/pages/Magnitude-Frequency-Distributions.md
  docs/pages/Model-Files.md
  docs/pages/Model-Structure.md
  docs/pages/Rupture-Scaling-Relations.md
  docs/pages/Source-Types.md
Due: Markdown Lint

fix deagg epsilon
  src/main/java/gov/usgs/earthquake/nshmp/DeaggEpsilon.java
Due: none

update lib version
  gradle.properties
Due: Build Lambda, Build Project, Unit Tests

update trigger
  .gitlab-ci.yml
Due: none

cleanup
  Dockerfile
Due: none

rename to nshmp-haz
  .gitlab-ci.yml
  CONTRIBUTING.md
  Dockerfile
  README.md
  build.gradle
  code.json
  docs/pages/Building-&-Running.md
  etc/matlab/gmmBatchExample.m
  etc/python/gmmBatchExample.py
  gradle/ext.gradle
  scripts/docker-config.inc.sh
  settings.gradle
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/www/SourceController.java
  src/main/resources/application.yml
  src/main/resources/swagger/index.html
  ws.Dockerfile
Due: Build Lambda, Build Project, Markdown Lint, Unit Tests

rename to nshmp-haz
  docs/pages/Building-&-Running.md
Due: Markdown Lint

add java opts
  ws.Dockerfile
Due: none

update
  ws.Dockerfile
Due: none

update readme and wep app/serivces pages
  docs/README.md
  docs/pages/NSHMP-Web-Services.md
Due: Markdown Lint

update haz-v2 to haz
  docs/README.md
  docs/pages/Building-&-Running.md
  docs/pages/Calculation-Configuration.md
  docs/pages/Developer-Basics.md
  docs/pages/Ground-Motion-Models.md
  docs/pages/Logic-Trees-&-Uncertainty.md
  docs/pages/Model-Editions.md
  docs/pages/Model-Files.md
  docs/pages/Site-Specification.md
  docs/pages/Source-Types.md
  docs/pages/USGS-Models.md
Due: Markdown Lint

doc review edits
  docs/README.md
  docs/pages/Building-&-Running.md
  docs/pages/Calculation-Configuration.md
  docs/pages/Developer-Basics.md
  docs/pages/Functional-PSHA.md
  docs/pages/Ground-Motion-Models.md
  docs/pages/Hazard-Model.md
  docs/pages/Logic-Trees-&-Uncertainty.md
  docs/pages/Magnitude-Frequency-Distributions.md
  docs/pages/Model-Editions.md
  docs/pages/Model-Files.md
  docs/pages/Model-Structure.md
  docs/pages/NSHMP-Web-Services.md
  docs/pages/Site-Specification.md
  docs/pages/USGS-Models.md
Due: Markdown Lint

line length reformatting
  docs/pages/Ground-Motion-Models.md
Due: Markdown Lint

edit
  CONTRIBUTING.md
Due: Markdown Lint

update master to main, github to gitlab
  Dockerfile
  code.json
  gradle/ext.gradle
  scripts/docker-config.inc.sh
  src/main/java/gov/usgs/earthquake/nshmp/DeaggCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/DeaggIml.java
  src/main/java/gov/usgs/earthquake/nshmp/Hazard2018.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/RateCalc.java
  src/main/resources/swagger/index.html
Due: none

Apply 1 suggestion(s) to 1 file(s)
  gradle/ext.gradle
Due: none

remove lambda function
  src/main/java/gov/usgs/earthquake/nshmp/aws/HazardResultSliceLambda.java
  src/main/java/gov/usgs/earthquake/nshmp/aws/HazardResultsMetadataLambda.java
  src/main/java/gov/usgs/earthquake/nshmp/aws/HazardResultsSlicerLambda.java
  src/main/java/gov/usgs/earthquake/nshmp/aws/Util.java
Due: none

create slices
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
Due: none

Crete hazard map data sets
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
Due: none

update pipeline
  .gitlab-ci.yml
Due: none

spotless apply
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
Due: none

remove build lambda
  .gitlab-ci.yml
  build.gradle
  gradle/tasks.gradle
Due: Build Lambda, Build Project, Unit Tests

add return periods
  docs/pages/Calculation-Configuration.md
Due: Markdown Lint

add log, add formatter
  src/main/java/gov/usgs/earthquake/nshmp/HazardCalc.java
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
Due: none

add log, add formatter
  src/main/java/gov/usgs/earthquake/nshmp/HazardMaps.java
Due: none

remove old scripts
  scripts/custom.config.sh
  scripts/docker-config.inc.sh
  scripts/docker-functions.inc.sh
  scripts/nshmp-haz.yml
Due: none

simplify script
  scripts/docker-entrypoint.sh
Due: none

update parameter
  Dockerfile
  scripts/docker-entrypoint.sh
Due: none

update docker section
  docs/pages/Building-&-Running.md
Due: Markdown Lint
